# .env goes in project root.
# Required:
DB_NAME=
DB_UNAME=
DB_PWORD=

# Optional:
DB_HOST= # Default: 127.0.0.1
# Number of rows to import at a time
IMPORT_CHUNK_SIZE= # Default: 10000

K_MEANS_BATCH_SIZE= # Default: 1000
K_MEANS_BATCH_ITERATIONS= # Default: 10